export(area.between.curves, birthdeath.tree, phy.anova, phy.manova)
export(deltaTree, lambdaTree, kappaTree, tworateTree, linearchangeTree, rescaleTree)
export(exponentialchangeTree, speciationalTree, ouTree)
export(disp.calc, dtt, dtt.full, ic.sigma)
export(rate.estimate, crown.p, stem.p, crown.limits, stem.limits)
export(name.check)
export(fitContinuous, fitDiscrete, prune.extinct.taxa, prune.random.taxa, rc)
export(sim.char)
export(tip.disparity)
export(BDsim, treedata, node.leaves)
export(getAncStates)
export(runMedusa, summaryMedusa)
