useDynLib(geiger)
export(aicm)
export(aicw)
export(aov.phylo)
export(argn)
S3method(argn,bm)
S3method(argn,default)
S3method(argn,mkn)
export("argn<-")
S3method(as.phylo,hphylo)
export(bd.km)
export(bd.ms)
export(BDsim)
export(bf)
export(birthdeath.tree)
export(bm.lik)
export(calibrate.mecca)
export(calibrate.rjmcmc)
export(cherries)
S3method(coef,gfit)
S3method(coef,gfits)
export(congruify.phylo)
export(crown.limits)
export(crown.p)
export(dcount)
export(deltaTree)
export(disparity)
export(dlunif)
export(drop.extinct)
export(drop.random)
export(dtpois)
export(dtt)
export(edgelabels.auteur)
export(edges.phylo)
export(ess)
export(ex.jumpsimulator)
export(ex.ratesimulator)
export(ex.traitgram)
export(exemplar.phylo)
export(exponentialchangeTree)
export(fitContinuous)
export(fitContinuousMCMC)
export(fitDiscrete)
export(gbcontain)
export(gbresolve)
S3method(gbresolve,default)
S3method(gbresolve,phylo)
export(getAncStates)
export(glomogram.phylo)
export(hash.node)
export(hashes.phylo)
export(hashes.rjmcmc)
export(hdr)
export(heights)
S3method(heights,multiPhylo)
S3method(heights,phylo)
export(hme)
export(ic.sigma)
export(is.constrained)
export(is.extinct)
export(is.phylo)
export(is.root)
export(kappaTree)
export(lambdaTree)
export(linearchangeTree)
export(Linnaean)
export(load.rjmcmc)
S3method(logLik,gfit)
S3method(logLik,gfits)
export(lookup.phylo)
export(make.bm.relaxed)
export(make.gbm)
export(mecca)
export(medusa)
export(mkn.lik)
export(name.check)
export(nh.test)
export(node.leaves)
export(nodelabel.phylo)
export(ouTree)
export(PATHd8.phylo)
export(phylo.clades)
export(phylo.lookup)
S3method(plot,auteurMCMC)
S3method(plot,auteurMCMCMC)
S3method(plot,medusa)
S3method(plot,rjmcmc)
S3method(plot,rjmcmc.list)
export(pp.mcmc)
S3method(print,auteurRAW)
S3method(print,bayesfactor)
S3method(print,bm)
S3method(print,constraint.m)
S3method(print,gfit)
S3method(print,gfits)
S3method(print,glnL)
S3method(print,gprior)
S3method(print,mcmc.list)
S3method(print,medusa)
S3method(print,mkn)
S3method(print,rbm)
S3method(print,rjmcmc)
S3method(print,rjmcmcmc)
S3method(print,transformer)
export(prune.extinct.taxa)
export(prune.random.taxa)
export(rate.estimate)
export(ratematrix)
export(rc)
export(rescaleTree)
export(rjmcmc.bm)
#export(ROOT.ALL)
#export(ROOT.BOTH)
#export(ROOT.EQUI)
#export(ROOT.FLAT)
#export(ROOT.GIVEN)
#export(ROOT.MAX)
#export(ROOT.OBS)
#export(runMedusa)
export(sem)
export(sim.bd)
export(sim.bdtree)
export(sim.char)
export(sim.mecca)
export(span.phylo)
export(speciationalTree)
export(startingpt.mecca)
export(stem.limits)
export(stem.p)
S3method(subset,phylo)

#export(summary.medusaRAW)

export(tip.disparity)
export(tips)
export(to.auteur)
export(to.coda)
export(rescale)
S3method(rescale,phylo)
export(treedata)
export(tworateTree)
S3method(unique,multiPhylo)
S3method(unique,phylo)
export(white.mkn)
export(write.pathd8)
export(write.r8s)
export(write.treePL)
import(MASS, digest, deSolve, coda, mvtnorm, subplex, Rcpp, ape)
importFrom("grDevices", "col2rgb", "dev.interactive", "dev.new",
           "gray.colors", "rgb")
importFrom("graphics", "arrows", "layout", "legend", "lines", "mtext",
           "par", "plot", "points", "polygon", "text")
importFrom("methods", "as")
importFrom("stats", "anova", "approxfun", "as.formula", "coef",
           "density", "dexp", "dist", "dnorm", "dpois", "dunif",
           "ecdf", "end", "lm", "logLik", "manova", "median",
           "na.omit", "optim", "optimize", "qnorm", "quantile",
           "reorder", "rexp", "rnorm", "runif", "sd", "spline",
           "start", "summary.manova", "uniroot", "var",
           "weighted.mean")
importFrom("utils", "installed.packages", "modifyList",
           "packageDescription", "packageVersion", "read.table",
           "setTxtProgressBar", "tail", "txtProgressBar",
           "write.table")
